{% extends "base.html" %}
{% block content %}

<style type="text/css">
	#hot-display-license-info{
		display:'none',
	}
</style>



<script type="text/javascript">
function submittab(){
	//$("#tab_type").button('loading');

	var data 		= tab_table.getData();	
	data 			= tab_table.getData();	
	data_cleaned = [];
	var i = 0;
	while(true){
		if(data[i]['name'] != null ){
		//console.log(data[i]['name'])
			data_cleaned.push(data[i]['name']);
			i++;
		}
		else{
			break;
		}
	}


	
	$.ajax({
	    url : "/audit/misc_details_entry/",
	    type : "POST",
	    dataType : "json",
	    data : {
	    	tabs_name: JSON.stringify(data),	    	
	    	csrfmiddlewaretoken: ''
	    },
	    success : function(obj_data){
	    	//$("#tab_type").button('reset');
	    	alert(JSON.stringify(obj_data,null,4));
	    	get_reports()
	    },
	    error	: function(err){
	    	//$("#tab_type").button('reset');
			console.log(JSON.stringify(err,null,4));
	    }
  	});

}
</script><!-- https://docs.google.com/spreadsheets/d/1d9uGfrd0QlKPDm8I9HhnorsHilH-Ohwi/edit#gid=10444109 -->

<div class = "box box-success">
    <div class="box-header with-border">
    <center><h2>NETWORK SPEED AND BREAK DOWN RECORD</h2></center>
    <center><a href="https://docs.google.com/spreadsheets/d/1hRPCgWvcYbptCg4kQnpughGNdtLIb21CgNcVmNZR93Y/edit#gid=1586736880" target="_blank"><u><b>Other Records</b></u>&nbsp;<i style="font-size: 10px">(For Night)</i></a></center>
    <div class = "col-md-12" style="height:100%">
        <div class = 'handsontable' style="height: 400px; overflow: auto; margin-top : 30px;" data-originalstyle="height: 300px; overflow: auto"  id="network_speed_list"></div>
        <button class="btn btn-success btn-lg btn-block" style = "margin : 20px" id = "tab_type" onclick = "submittab()" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading">Submit Report Type</button>
    </div>
    </div>
</div>


<script type="text/javascript">
	var data = [
		{
			s_no :'',
			network_speed:'',			
			break_down : '',
			name_mc : '',
			reported_name : '',
			network_operator : '',
			problem_reported : '',
			action_taken : '',
			time_status : '',
			total_time_break_down : '',
			internet_speed : '',
			remarks : '',			

		}
	];
    container     = document.getElementById('network_speed_list');
  	var tab_table = new Handsontable(container, {
    
    minSpareRows: 200,
    colHeaders: true,
    stretchH: 'all',
    colHeaders: [ 'S.No','DATE & TIME OF BREAK DOWN','NAME OF M/C & M/C NO.','REPORTED BY NAME & SIGN.','NETWORK OPERATOR','PROBLEM REPORTED/ OBSERVED','ACTION TAKEN CORRECTIVE & PREVENTIVE','TIME OF OK (STATUS)','TOTAL TIME OF BREAK DOWN','INTERNET SPEED','REMARKS'],
    contextMenu: true,
    columns: [
    	{	data: "s_no",
	    	type : 'text',			
		    readOnly: true,
		    renderer: colorRenderer3,
		},
  //   	{	data: "network_speed",
	 //    	type : 'text',				
		// },
	  	{
	    	data: "break_down",
	    	type : 'date',
	    	dateFormat: 'YYYY-MM-DD hh:mm:ss',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "name_mc",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "reported_name",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "network_operator",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "problem_reported",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "action_taken",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "time_status",
	    	type : 'date',
	    	dateFormat: 'YYYY-MM-DD hh:mm:ss',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "total_time_break_down",
	    	type : 'text',	
	    	renderer: colorRenderer3,    	
	    	//className: "htCenter htMiddle"
	    },
	     {
	    	data: "internet_speed",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    },
	    {
	    	data: "remarks",
	    	type : 'text',
	    	renderer: colorRenderer3,
	    	//className: "htCenter htMiddle"
	    }

	  ],
	  
	  data: data,
  });

get_reports();
$('#hot-display-license-info').css('display','none');

function get_reports(){
	$.ajax({
		url : "/audit/misc_details/",
		type : "POST",

		dataType : "json",
		data : { 
			
		},
		success : function(obj_data){
			//console.log(JSON.stringify(obj_data, null, 4));
			if(obj_data['net_array'].length>0)
			{
				tab_table.loadData(obj_data['net_array']);
				console.log(obj_data['net_array'])
			}
			else
			{
				tab_table.loadData(obj_data['net_array']);
			//console.log(data)
			}
		},
		error: function(err){
			//alert(JSON.stringify(err,null,4));
		}
	});	
}


function colorRenderer3(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    var data = instance.getData();
    var valueAtC = data[row][8]; 
   
    if (valueAtC !='1 day') {
      td.style.backgroundColor = '';
    } else {
      td.style.backgroundColor = '#fc8195';
    }
    return td;
  };


</script>

{% endblock %}
